<!DOCTYPE html>

{% extends 'base.html' %}
    {% block content%}
        <a href="https://www.oceanbrasil.com/" target="_blank">Clique para ir para a Ocean Brasil</a>
        
            {% if usuario[2] == "Aluna" %}
                <h2>Bem-vinda Aluna</h2>
            {%else%}
                <h2>Bem-vinda Professor</h2>
            {%endif%}

            {% for aluno in alunos %}
                <h3>{{aluno}}</h3>
            {%endfor%}


        <h1>{{nome}}</h1>
        <h2> raianecaroline.st@gmail.com</h2>
        <h3>(73) 98242 - 7377</h3>
    {%endblock%}
